.weatherCard {
    grid-area: cardTile;
    position: relative;
    display: grid;
    width: 100%;
    max-width: 350px;
    max-height: 250px;
    height: 100%;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    background: url('../../assets/cloudy/cloudy3.svg') no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 15px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'header header header'
        'temperature . .'
        'info info info';
}

.svg {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    grid-area: header;

}

.description {
    text-align: left;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: temperature;
}

.infoMore {
    width: 100%;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-around;
    grid-area: info;
}

.tile {
    border-radius: 15px;
    line-height: 1.5;
    padding: 5px 15px;
    text-align: center;
}

.blue {
    background-color: var(--background-color-darkblue);
    color: var(--color-white);
}

.green {
    background-color: var(--background-color-lime);
    color: var(--color-text-main);
}

.white {
    background-color: var(--background-color-main-light);
    color: var(--color-text-main);
}

.nameProp {
    font-size: var(--font-size-small);
    letter-spacing: normal;
}

.day {
    font-size: var(--font-size-big);
}

.night {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 2px 10px;
    font-size: var(--font-size-small);
}