.main {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        'aside  cardTile cardTile cardTile'
        'aside  cardTile cardTile cardTile'
        'aside  currentWeather currentWeather currentWeather ';
}