.airQualityCard {
    grid-area: airCard;
    position: relative;
    display: grid;
    width: 100%;
    max-width: 350px;
    max-height: 250px;
    height: 100%;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    background: url('../../assets/windy/windy5.svg') no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 15px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'header header header'
        'temperature . .'
        'info info info';
}

.svg {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-button-overlay);
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    grid-area: header;

}

.description {
    text-align: left;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: temperature;
}

.aqi {
    background-color: var(--background-color-lime);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10px;
}

.infoMore {
    grid-area: info;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 8px;
    border-radius: 15px;
    background-color: var(--color-white);
}

.degree {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.active {
    position: relative;
    padding: 5px 10px;
    border-radius: 15px;
    color: var(--color-white);
    background-color: var(--background-color-darkblue);
}

.active:before {
    border: solid;
    border-color: var(--background-color-darkblue) transparent;
    border-width: 5px 6px 0 6px;
    content: "";
    left: 40%;
    bottom: -5px;
    position: absolute;
}

.lineGradient {
    display: flex;
    width: 100%;

    border-radius: 15px;
    border: 2px solid #eb7726;
}