.graphSun {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 5px;
    height: 150px;
}

.forecastDay {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--color-accent);
}

.forecastDay::after {
    position: absolute;
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    bottom: -105px;
    left: 10%;
    border-top: 3px dotted var(--color-text-grey);
}

.forecastDay::before {
    position: absolute;
    content: '';
    width: 199px;
    height: 199px;
    border-radius: 50%;
    bottom: -105px;
    left: 10.5%;
    /* background: var(--color-gradient-forecastday); */
}

.sunInfo {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

.sunset {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.sunrise {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

