.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .linkItems {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

}

.linkItem {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    height: 50px;
    width: 50px;
    border-radius: 30%;
    transition: background-color ease-in .2s;

    .static {
        color: var(--color-text-grey);
    }

    .static:hover,
    .static:active {
        transition: color ease .6s;

        color: var(--color-width);
    }

    .global {
        width: 34px;
        height: 34px;
        color: var(--color-text-grey);

        #circle {
            fill: var(--color-width);
        }
    }

    .global:hover,
    .global:active {
        transition: all ease .4s;

        color: var(--color-width);

        #circle {
            fill: none;
        }
    }

    .calendar {
        color: var(--color-text-grey);
        fill: var(--color-text-grey);
    }

    .calendar:hover,
    .calendar:active {
        transition: all ease .4s;

        color: var(--color-width);
        fill: var(--color-width);
    }

    .stats {
        color: var(--color-text-grey);
    }

    .stats:hover,
    .stats:active {
        color: var(--color-width);
        transition: color ease .6s;
    }

    .point {
        color: var(--color-text-grey);
    }

    .point:hover,
    .point:active {
        transition: color ease .6s;

        color: var(--color-width);
    }

}

.linkItem:hover,
.linkItem:active {
    background-color: var(--color-accent);
    transition: background-color ease-in .3s;
}}
