.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
}

.welcome {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: normal;
  font-size: var(--font-size-normal);
  margin: 0;
}

.name {
  font-weight: 700;
  font-size: var(--font-size-over);
}

.border {
  display: flex;
  position: relative;
  width: 35px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--color-text-grey);
  background-size: contain;
  z-index: 1;
}

.notification {
  color: var(--color-text-grey);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
