.weatherValueBoard {
  grid-area: valueBoard;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline-end: 20px;
}

.wrapperTick {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  justify-content: end;
  align-items: end;
}

.lineChart {
  position: relative;
  display: flex;
  height: 200px;
}
