:root {
    --color-white: #fff;
    --color-grey: #dde2e8;
    --color-accent: #f9822f;
    --color-text-main: #202b3d;
    --color-text-width: #fff;
    --color-text-grey: #686d80;
    --color-gradient-forecastday: background-image: linear-gradient(180deg, #ffe1aa 0, #ffd4a7 16.67%, #ffc7a2 33.33%, #f2b99d 50%, #e1ac97 66.67%, #d1a092 83.33%, #c2968d 100%);
    /* background-image: radial-gradient(circle at 10.39% 10.39%, #ffe1aa 0, #ffd4a7 16.67%, #ffc7a2 33.33%, #f2b99d 50%, #e1ac97 66.67%, #d1a092 83.33%, #c2968d 100%); */

    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-skranji: 'Skranji', sans-serif;
    --font-size-big: 30px;
    --font-size-over: 24px;
    --font-size-normal: 20px;
    --font-size-small: 10px;


    --background-color-darkblue: #19283f;
    --background-color-main-light: #fff;
    --background-color-lightgrey: #f7f7f7;
    --background-color-lime: #cce169;
    --background-color-icon: #5f6187;
    --background-color-button-overlay: #f5f5f5;
}

* {
    font-family: var(--font-family-skranji);
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

#root {
    display: grid;
    max-width: 1110px;
    margin: 0 auto;
    grid-template-columns: 5% 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        'aside header footer'
        'aside main footer'
        'aside main footer';
}